body, html{
	font-family: Comic Sans MS;
	overflow-y: auto;
}

.navigation{
	position: fixed;
	width: 25vw;
	height: 100%;
	background-color: black;
	margin: -8px;
}

.navigation .logo{
	background: url(https://kingchoice.me/media/CACHE/images/5bc851fa9afcbc1d35b0fcd4fa2f8c68_PXUiuN8/43515ffda7f81f0e8ac8500b2177f126.jpg);
	background-size: 100%;
	padding-top: 150px;
	margin-bottom: 50px;
}

.navigation .nav ul{
	list-style: none;
	margin-left: 40px;
}

.navigation .nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 25px;
	line-height: 70px;
}

.navigation .nav ul li a:hover{
	background-color: white;
	color: black;
}

.dd1{
	position: relative;
	display: inline-block;
}

.dropdown1, .dropdown2, .dropdown3{
	display: none;
	position: absolute;
	background-color: white;
	white-space: nowrap;
}

.dropdown1{
	left: 0%;
	top: 70%;
}

.dropdown2{
	left: 20.8%;
	top: 62.5%;
}

.dropdown3{
	left: 40.8%;
	top: 62.5%;
}

.dd1:hover .dropdown1, .dd2:hover .dropdown2, .korean:hover .dropdown3{
	display: block;
}


.dropdown1 table{
	width: 200px;
}

.dropdown2 table{
	width: 100px;
}

.dropdown3 table, .dropdown4 table{
	width: 250px;
}

.dropdown1 td, .dropdown2 td{
	padding: 5px;
	font-weight: bold;
}

.dd1 .dropdown1 table td a, .dd2 .dropdown2 table td a{
	font-size: 16px;
	color: black;
	text-decoration: none;
	line-height: 0;
}

.dd1 .dropdown1 table td a:hover, .dd2 .dropdown2 table td a:hover{
	background-color: black;
	color: white;
}

.korean, .japanese {
    position: relative;
    display: inline-block;
    padding: 5px;
    font-weight: bold;
}

.dropdown3, .dropdown4 {
    display: none;
    position: absolute;
    background-color: white;
    white-space: nowrap;
    z-index: 10;
}

.dropdown3 {
    left: 130%;
    top: -20%;
}

.dropdown4 {
    left: 100%;
    top: 20%;
}

.korean:hover .dropdown3, .japanese:hover .dropdown4{
    display: block;
	border-color: 2px solid black;
}

.home, .about, .members, main{
	position: fixed;
	left: 25%;
	width: 75vw;
	height: 100vh;
	background-color: white;
	margin-right: -8px;
	margin-top: -8px;
	z-index: -1;
}

.member{
	background-color: white;	
}

.home .cont1{
	height: 500px;
	background-color: black;
	width: 22vw;
	margin: 20px;
	border-radius: 30px;
}

.home .cont1 p, .home .cont2 p, .home .cont3 p{
	position: fixed;
	color: white;
	text-align: justify;	
}

.home .cont1 p, .home .cont2 p{
	left: 28%;
	max-width: 280px;
	font-size: 22px;
}

.home .cont2{
	height: 175px;
	background-color: black;
	width: 22vw;
	margin: 20px;
	border-radius: 30px;
}

.home .pic1{
	position: fixed;
	left: 50%;
	background-color: black;
	width: 23vw;
	height: 230px;
	border-radius: 30px;
	top: 3%;
}

.home .pic2{
	position: fixed;
	left: 75%;
	background-color: black;
	width: 23vw;
	height: 230px;
	border-radius: 30px;
	top: 3%;
}

.home .pic3{
	position: fixed;
	left: 50%;
	background-color: black;
	width: 23vw;
	height: 230px;
	border-radius: 30px;
	top: 39%;
}

.home .pic1 img, .home .pic2 img, .home .pic3 img, .home .pic4 img{
	width: 320px;
	height: 200px;
	margin: 15px;
	border: 3px solid white;
	border-radius: 15px;
}

.home .pic4{
	position: fixed;
	left: 75%;
	background-color: black;
	width: 23vw;
	height: 230px;
	border-radius: 30px;
	top: 39%;
}

.home .cont3{
	position: fixed;
	height: 175px;
	background-color: black;
	width: 48.3vw;
	margin: 20px;
	border-radius: 30px;
	bottom: 0.5%;
	left: 48.5%;
}

.home .cont3 p {
	left: 51.5%;
	max-width: 688px;
	font-size: 20px;
}

.about, main{
	overflow-y: auto;
}

.about .content{
	left: 25%;
	width: 1110px;
	max-height: auto;
	border-radius: 30px;
	background-color: black;
	margin: 20px;
}

.about .content .cont1{
	margin: 20px;
	display: grid;
	grid-template-columns: 1fr 0.6fr;
	grid-gap: 1.5rem;
}

.about .content .cont1 img{
	margin-top: 20px;
}

.about .content .cont1 p{
	color: white;
	text-align: justify;
	font-size: 20.5px;
	padding-top: 20px;
}

.about .content .cont1 p::first-letter{
	font-size: 40px;
	float: left;
	margin-right: 0.3rem;
}

.about .content .cont1 img, .about .content .cont2 img, .about .content .cont3 img{
	width: 400px;
	border-radius: 30px;
	border: 3px solid white;
	object-fit: cover;
}

.about .content .cont2{
	display: grid;
	margin: 20px;
	grid-template-columns: 0.6fr 1fr;
	grid-gap: 1.5rem;
}

.about .content .cont2 p{
	color: white;
	font-size: 19.8px;
	text-align: justify;
}

.about .content .cont3{
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	margin: 20px;
	grid-gap: 1.5rem;
}

.about .content .cont3 p{
	color: white;
	font-size: 20.5px;
	text-align: justify;
}

.about .content .cont3 img{
	margin-bottom: 30px;
}

.members{
	overflow-y: auto;
}

.members .title, .discography{
	position: fixed;
	left: 50%;
	width: 400px;
	height: 70px;
	background-color: black;
	margin-top: 20px;
	border-radius: 30px;
}

.members .title p, .discography .title p{
	text-align: center;
	margin-top: 15px;
	color: white;
	font-weight: bold;
	font-size: 30px;
}

.members .ming, .members .nick, .members .taec, .members .woo, .members .nuneo, .members .chan{
	position: fixed;
	margin-left: 75px;
	margin-top: -20px;
	width: 20vw;
	height: 280px;
	background-color: black;
	border-radius: 30px;
}

.members .ming{
	top: 20%;
	left: 25%;
}

.members .nick{
	top: 20%;
	left: 47.5%;
}

.members .taec{
	top: 20%;
	left: 70%;
}

.members .woo{
	top: 63%;
	left: 25%;
}

.members .nuneo{
	top: 63%;
	left: 47.5%;
}

.members .chan{
	top: 63%;
	left: 70%;
}

.members .woo, .members .nuneo, .members .chan{
	margin-bottom: 100px;
}

.members .ming img, .members .nick img, .members .taec img, .members .woo img, .members .nuneo img, .members .chan img{
	position: fixed;
	width: 17.5vw;
	height: 27vh;
	border-radius: 35px;
	padding: 20px;
}

.members .ming p a, .members .nick p a, .members .taec p a, .members .woo p a, .members .nuneo p a, .members .chan p a{
	position: fixed;
	color: white;
	text-decoration: none;
	font-size: 25px;
}

.members .ming p a{
	bottom: 47%;
	left: 37.5%;
}

.members .nick p a{
	bottom: 47%;
	left: 58.5%;
}

.members .taec p a{
	bottom: 47%;
	left: 81%;
}

.members .woo p a{
	bottom: 4%;
	left: 35.5%;
}

.members .nuneo p a{
	bottom: 4%;
	left: 60%;
}

.members .chan p a{
	bottom: 4%;
	left: 81.5%;
}

.members p a:hover, .discography .korean-disco p a:hover, .discography .japanese-disco p a:hover{
	background-color: white;
	color: black;
}

main{
	font-size: 62.5%;
	display: grid;
	grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
	row-gap: 3rem;
	box-sizing: border-box;
}

.heading{
	grid-column: 2 / 3;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 1.5rem;
	line-height: 0.5;
}

.info{
	grid-column: 2 / 3;
	font-size: 1.2rem;
	letter-spacing: 0.6px;
	column-width: 25rem;
	text-align: justify;
}

.member{
	grid-column: 1 / -1;
	position: relative;	
}

main img{
	width: 100%;
	object-fit: cover;
}

.header{	
	margin-top: 30px;
}

.member-name{
	text-align: center;
	font-size: 3rem;
}

.position{
	font-size: 1.5rem;
	text-align: center;
}

.author{
	font-size: 1.2rem;
}

.socmed{
	display: grid;
	color: black;
	font-size: 1.2rem;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	align-items: center;
}

.fa{
	color: black;
}

.info-with-images{
	display: grid;
	grid-template-columns: 2fr 2fr;
	column-gap: 3rem;
	margin-bottom: 1rem;
}

.images-with-info{
	display: grid;
	grid-template-columns: 2fr 2fr;
	column-gap: 1.5rem;
	margin-bottom: 1rem;
}

.info-with-images p, .images-with-info p{
	font-style: italic;
	text-decoration: underline;
}

.lists{
	list-style: none;
	padding: 0;
}

.lists li{
	font-size: 1.1rem;
}

.korean-disco, .japanese-disco {
	width: 30vw;
	height: 500px;
	background-color: black;
	border-radius: 30px;
}

.korean-disco {
	margin-top: 70px;
	margin-bottom: 50px;
	margin-left: -300px;
}

.korean-disco img {
	width: 20vw;
	height: auto;
	margin: 90px;
	padding-top: 50px;	
}

.japanese-disco {
	margin-top: -550px;
	margin-left: 220px;
}

.japanese-disco img {
	width: 30vw;
	height: auto;
	margin-top: 120px;
}

.discography .korean-disco p a, .discography .japanese-disco p a {
	color: white;
	text-decoration: none;
	font-size: 25px;
}

.korean-disco p a {
	margin-left: 190px;
}

.japanese-disco p{
	margin-top: 145px;
	margin-left: 175px;
}